/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-marcin-marcin {
	border: 1px dotted #f00;
}

@keyframes pulse {
	0% {
	  background-color: #ffffff;
	}
	50% {
	  background-color: #cccccc;
	}
  
	100% {
	  background-color: #ffffff;
	}
  }
  
  .wp-block-cgb-block-guten-load-post {
	padding: 0.5em;
	border: 1px dashed rgba(0, 0, 0, 0.5);
  
	&.no-post {
	  background: yellow;
	  animation: none;
	}
	&.loading {
	  animation: pulse 3s infinite;
	}
  
	&.has-post {
	  animation: none;
	}
  }